[Desktop Entry]
Name=GNOME Flashback (i3)
Comment=This session logs you into GNOME Flashback with i3
Exec=regolith-gnome-flashback-session
TryExec=i3
Type=Application
DesktopNames=GNOME-Flashback;GNOME;
