[Desktop Entry]
Name=Regolith
Comment=Productivity focused desktop environment
Exec=regolith-gnome-flashback-session
TryExec=i3
Type=Application
DesktopNames=GNOME-Flashback;GNOME
