Source: regolith-gnome-flashback
Section: x11
Priority: optional
Maintainer: Ken Gilmer <kgilmer@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/regolith-linux/regolith-desktop
Vcs-Git: https://github.com/regolith-linux/regolith-desktop.git

Package: regolith-gnome-flashback
Architecture: any
Depends: ${misc:Depends}, 
    regolith-i3-gaps-config, 
    gnome-flashback, 
    regolith-assets, 
    regolith-styles,
    x11-xserver-utils,
    gnome-session-bin
Conflicts: session-shortcuts
Description: Regolith customized gnome-flashback session
